{:paths ["src" "resources"]
 :deps {
        org.clojure/data.csv {:mvn/version "1.1.1"}
        
        ;; String comparison methods/metrics
        clj-fuzzy/clj-fuzzy {:mvn/version "0.4.1"}
        
        ring/ring-core {:mvn/version "1.15.4"}

        ;; Provides reload of namespaces on each request
        ring/ring-devel {:mvn/version "1.15.4"}

        ;; Serve from jetty
        ring/ring-jetty-adapter {:mvn/version "1.15.4"}
        ;; For logging from jetty
        org.slf4j/slf4j-simple {:mvn/version "2.0.18"}

        ;; For logging within ring
        ring-logger/ring-logger {:mvn/version "1.1.1"}
        clj-log4j2/clj-log4j2 {:mvn/version "0.4.0"}

        ;; Routing for HTTP requests
        compojure/compojure {:mvn/version "1.7.2"}
        ;; HTML builder
        hiccup/hiccup {:mvn/version "2.0.0"}

        }

 :aliases {
           :server {
                    :main-opts ["-m" "famtree.server.main"]
                    :jvm-opts
                    ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"] }
           :test {
                  :extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :cider-clj {
                       :extra-deps {org.clojure/clojure {:mvn/version "1.12.1"}
                                    cider/cider-nrepl {:mvn/version "0.63.1"}}
                       :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           }}
